:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #757575;
  --second-color: #212121;
  --accent-color: #2196F3;
  --transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
  margin: 0 auto;
}

.logo {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--second-color);
}

.logo-white {
  color: #fff;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: var(--transition);
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  transition: var(--transition);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
  fill: white;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  text-align: center;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.footer__invite {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.address__text {
  display: block;
}

.address__text:not(:last-child) {
  margin-bottom: 8px;
}

.address__text-white {
  color: #ffffff;
}

.address__text-grey {
  color: inherit;
}

.footer-form__invite {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form__input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--main-color);
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 29px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  height: 50px;
  min-width: 200px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  max-width: 450px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.modal__close-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  transition: var(--transition);
}

.modal__input:hover + .modal__input-svg,
.modal__input:focus + .modal__input-svg {
  fill: var(--accent-color);
}

.modal__input:hover, .modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__input-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  transition: var(--transition);
}

.modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  transition: var(--transition);
}

.modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:hover, .modal__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__checkbox-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.modal__checkbox-form-field::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/checked.svg);
  background-size: 11px 8px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 9px;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  transition: var(--accent-color);
}

.modal__checkbox-input:checked + .modal__checkbox-form-field::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__btn {
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 55px;
  height: 50px;
  min-width: 200px;
}

.hero {
  max-width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.hero__btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin: 0 auto;
}

.whatwedo {
  display: none;
}

.features {
  padding-top: 60px;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 10px;
}

.features__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__card {
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.features__card:not(:first-of-type) {
  margin-top: 30px;
}

.features__svg {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto auto;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

.team__card {
  text-align: center;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.team__name {
  margin-bottom: 10px;
}

.team__position {
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90px;
  color: var(--main-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: var(--transition);
}

.clients__link:hover, .clients__link:focus {
  outline: none;
  border-color: var(--accent-color);
}

.clients__svg {
  height: 50px;
  fill: currentColor;
  transition: var(--transition);
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: var(--accent-color);
}

.clients__item {
  max-width: 210px;
}

.clients__item:nth-child(odd) {
  margin-right: 30px;
}

.clients__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.filter {
  padding-top: 60px;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
}

.filter__btn {
  height: 38px;
  min-width: 73px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  transition: var(--transition);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.filter__item:nth-last-child(-n+2) {
  margin-top: 15px;
}

.portfolio {
  padding-top: 40px;
  padding-bottom: 60px;
}

.portfolio__card {
  max-width: 450px;
  position: relative;
  overflow: hidden;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__overlay {
  display: block;
  padding-top: 77px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  transition: var(--transition);
  transform: translateY(100%);
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.portfolio__descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.portfolio__footer {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
/*# sourceMappingURL=main.css.map */