:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #757575;
  --second-color: #212121;
  --accent-color: #2196F3;
  --transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 30px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  width: fit-content;
}

.logo-dark {
  color: var(--second-color);
}

.logo-white {
  color: #fff;
}

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 60px;
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu__wrapper {
    width: 100%;
  }
}

.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu__nav {
    display: none;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .menu__nav {
    width: 100%;
    padding-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__nav {
    padding-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .menu__nav.is-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: #fff;
    text-align: center;
    width: 100%;
  }
}

.menu__pages {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu__pages {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .menu__pages > li:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .menu__pages > li:not(:last-child) {
    margin-bottom: 52px;
  }
}

.menu__page {
  color: #212121;
  margin: 0 auto;
  display: block;
  width: fit-content;
  position: relative;
  transition: var(--transition);
}

.menu__page:hover, .menu__page:focus {
  color: var(--accent-color);
}

.menu__contacts {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .menu__contacts {
    font-size: 14px;
    margin-top: 60px;
  }
  .menu__contacts > li:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu__contacts {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__contacts > li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__contacts {
    display: flex;
    aling-items: center;
    margin-bottom: 0px;
  }
  .menu__contacts > li:not(:last-child) {
    margin-right: 30px;
  }
}

.menu__contact {
  color: #757575;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
  transition: var(--transition);
}

.menu__contact:hover, .menu__contact:focus {
  color: var(--accent-color);
}

.menu__contact-svg {
  width: 16px;
  height: 15px;
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .menu__btn {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    color: #000;
    transition: var(--transition);
  }
  .menu__btn-open {
    display: block;
  }
  .menu__btn-close {
    display: none;
  }
  .menu__btn.is-open .menu__btn-open {
    display: none;
  }
  .menu__btn.is-open .menu__btn-close {
    display: block;
  }
  .menu__btn:hover .menu__btn-svg,
  .menu__btn:focus .menu__btn-svg {
    fill: var(--accent-color);
  }
  .menu__btn-svg {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: currentColor;
    transition: var(--transition);
  }
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .current::after {
    bottom: -8px;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .current::after {
    bottom: -30px;
    left: 0;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: var(--transition);
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  transition: var(--transition);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
  fill: white;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  text-align: center;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.footer__invite {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer__invite {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.address__text {
  display: block;
  transition: var(--transition);
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .address__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.address__text:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__text:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .address__text {
    margin: 0 auto;
  }
}

.address__text-white {
  color: #ffffff;
}

.address__text-grey {
  color: inherit;
}

.address__text:hover, .address__text:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer-form__wrapper {
    margin-top: 60px;
  }
}

.footer-form__invite {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form__field {
    display: flex;
    align-items: center;
  }
}

.footer-form__input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  height: 50px;
  min-width: 200px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .footer-form__btn {
    margin-top: 20px;
  }
}

.footer-form__btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: var(--transition);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  background-color: #fff;
  padding: 40px;
  width: 100%;
  min-width: 290px;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.modal__close-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  transition: var(--transition);
}

.modal__input:hover + .modal__input-svg,
.modal__input:focus + .modal__input-svg {
  fill: var(--accent-color);
}

.modal__input:hover, .modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__input-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  transition: var(--transition);
}

.modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  display: block;
  transition: var(--transition);
}

.modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:hover, .modal__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__checkbox-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 477px) {
  .modal__checkbox-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.modal__checkbox-form-field::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/checked.svg);
  background-size: 11px 8px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 9px;
  border-radius: 2px;
  border: 2px solid var(--second-color);
  transition: var(--transition);
}

.modal__checkbox-input:checked + .modal__checkbox-form-field::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__btn {
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 55px;
  height: 50px;
  min-width: 200px;
}

.hero {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 599px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero-min.jpg);
  }
}

@media screen and (max-width: 599px) and (min-device-pixel-ratio: 2), screen and (max-width: 599px) and (min-resolution: 192dpi), screen and (max-width: 599px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero@2x-min.jpg);
  }
}

@media screen and (min-width: 600px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-min.jpg);
  }
}

@media screen and (min-width: 600px) and (min-device-pixel-ratio: 2), screen and (min-width: 600px) and (min-resolution: 192dpi), screen and (min-width: 600px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero@2x-min.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-hero-min.jpg);
  }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-hero@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin: 0 auto;
}

.whatwedo {
  display: none;
}

@media screen and (min-width: 1200px) {
  .whatwedo {
    display: block;
    padding-bottom: 94px;
  }
  .whatwedo__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .whatwedo__item {
    position: relative;
  }
  .whatwedo__descr {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  min-height: 69px;
}

.features__card {
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.features__card:not(:first-of-type) {
  margin-top: 30px;
}

.features__svg {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto auto;
}

@media screen and (max-width: 767px) {
  .features__item:not(:first-of-type) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.features__card-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -15px;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__set {
    margin: -15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.team__item {
  text-align: center;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team__item {
    margin: 0 auto;
  }
  .team__item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.team__img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: auto;
  }
}

.team__name {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition);
}

.clients__link:hover, .clients__link:focus {
  outline: none;
  border-color: var(--accent-color);
}

.clients__svg {
  height: 50px;
  fill: currentColor;
  transition: var(--transition);
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.filter {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
  }
}

.filter__btn {
  height: 38px;
  min-width: 73px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  transition: var(--transition);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: #fff;
}

@media screen and (max-width: 411px) {
  .filter__item:nth-last-child(-n+3) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  .filter__item:nth-last-child(-n+2) {
    margin-top: 15px;
  }
}

.portfolio {
  padding-top: 40px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    max-width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.portfolio__card {
  position: relative;
  overflow: hidden;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__link:hover .portfolio__footer,
.portfolio__link:focus .portfolio__footer {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  transition: var(--transition);
  transform: translateY(101%);
}

@media screen and (max-width: 767px) {
  .portfolio__overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__overlay {
    padding: 62px 24px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio__img {
  width: 100%;
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.portfolio__descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.portfolio__footer {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/*# sourceMappingURL=main.css.map */