.whatwedo{ 
    display: none;
}

@media screen and (min-width: 1200px) {
    .whatwedo {
        display: block;
        padding-bottom: 94px;
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__item {
            position: relative;
        }
        &__descr {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF; 
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            min-height: 70px;
            padding-top: 27px;
            padding-bottom: 27px;
            background-color: rgba(47,48,58,.8);
        }
    }    
}
